extends layout

block content
  .row
    button#clear.button(class=((messages.length === 0) ? 'hide' : '')) Очистить корзину
    p#empty.center(class=((messages.length !== 0) ? 'hide' : '')) Корзина пуста
    div#parcels
      if messages.length !== 0
        - var index = 0;
        each mes in messages
          div.parcel
            span.number=++index
            span.text=mes.text
            span.date=moment(mes.date).format('LLLL')
            span.sms=mes.sms