doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    div.top-bar
      div.top-bar-left
        ul.menu
          li.menu-text Умный почтовый ящик
      div.top-bar-right
        ul.menu
          li.menu-text SMS оповещение
          li
            div.switch
              input.switch-input(id="sms-trigger" type="checkbox" name="sms-trigger" checked=settings.sms)
              label.switch-paddle(for="sms-trigger")
    block content
  script(src="/js/vendor/socket.io-1.4.5.js")
  script(src="/js/vendor/jquery.js")
  script(src="/js/vendor/foundation.min.js")
  script(src="/js/vendor/moment.js")
  script(src="/js/main.js")