.switch {
  margin: 0;
}

p.sms-label {
  margin: 0 15px 0 0;
}

.top-bar {
  margin-bottom: 20px;
}

#parcels {

}

.parcel {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.parcel span {
  flex-basis: 33.33333%;
}

.parcel span.number {
  flex-basis: 100px;
}

.parcel span.sms {
  text-align: right;
}

.parcel:nth-child(even) {
  background: #eee;
}